* {
	margin: 0;
}

.app {
	display: flex;
	justify-content: center;
	align-content: center;
	/* height: 100vh; */
	margin: auto;
}

nav {
	display: flex;
	justify-content: start;
	align-items: start;
}

header {
	background-color: black;
	height: 65px;
	padding: 30px;
	text-align: right;
}

.link1 {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.active {
	color: green;
}
