* {
	margin: 0;
}

header {
	background-color: black;
	height: 65px;
	padding: 30px;
	text-align: right;
}

.link1 {
	text-decoration: none;
	color: white;
	margin-left: 20px;
}

.active {
	color: green;
}
